<div class="listProjects sb-container">
  <div class="sideBar sb-menu">
    <h5>Languages<span></h5>
    <button style='display: none;' class='sidebar-btn'>close</button>
    <ul>
      <li class="">Android SDK</li>
      <li class="">AutoHotKey</li>
      <li class="">C</li>
      <li class="">C++</li>
      <li class="bonified projectyawhide textnow match3">CSS</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">HTML</li>
      <li class="kik">Java</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">JavaScript</li>
      <li class="kik">Python</li>
    </ul>
    <h5>Frameworks</h5>
    <ul>
      <li class="textnow">Angular.js</li>
      <li class="bonified projectyawhide textnow">Backbone.js</li>
      <li class="bonified projectyawhide">Bootstrap</li>
      <li class="bonified projectyawhide textnow surveyapp">jQuery</li>
      <li class="bonified projectyawhide kik surveyapp">MongoDB</li>
      <li class="bonified projectyawhide kik surveyapp">Mongoose.js</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">Node.js</li>
      <li class="match3">Redis PubSub</li>
      <li class="textnow">Require.js</li>
      <li class="surveyapp">Passport.js</li>
      <li class="match3">Socket.io</li>
      <li class="kik">Google App Engine</li>
    </ul>
    <h5>Tools</h5>
    <ul>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">Git</li>
      <li class="textnow match3 kik">Mac OS X</li>
      <li class="bonified">PhoneGap</li>
      <li class="">Ubuntu</li>
      <li class="textnow">WebRTC</li>
      <li class="kik">MixPanel</li>
    </ul>
  </div>

  <div class="sb-pusher">

    <div class="sb-content">
      <div class="container sb-content-inner">

        <h2>Internships</h2>

        <div class="listProjectItem" data-project='kik' data-url='https://points.kik.com'>
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" src="img/Kik-logo2.png" alt="kik points" width='60'>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Worked on the Kik Points team</h4>
              <ul>
                <li>Made the kik-points-bot production ready</li>
                <li>Created a cron job to auto-kill poor performing kik points offers based on metrics</li>
                <li>Analyised user behaviour to find where to improve retention for new users coming to kik points</li>
                <li>Fixed numerous bugs in the messaging app /messaging</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="listProjectItem" data-project='textnow' data-url='https://www.textnow.com'>
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" src="img/textnow.png" alt="textnow.com" width='60'>
            </div>
            <div class="media-body">
              <h4 class="media-heading">My contributions to TextNow.com</h4>
              <ul>
                <li>Created /reset, /signup, /signup/facebook, /forgot</li>
                <li>Created the self-serve page /account</li>
                <li>Updated the wireless store by adding in the BYOSD flow /wireless/device/5</li>
                <li>Fixed numerous bugs in the messaging app /messaging</li>
              </ul>
            </div>
          </div>
        </div>

        <h1>Projects</h1>

        <div class="listProjectItem" data-project='match3' data-url='http://match-3.herokuapp.com/'>
          <div class='image-wrapper'>
            <div class='match-3-image'></div>
          </div>
          <div class='body'>
            <div class='title'>Match-3</div>
            <div class='date'>Feb 2015</div>
            <p class='short-description'>
              Top-3 finish at Kik hackathon. Real-time multiplayer pattern matching game. Automatic login through Kik to show your profile and username.
            </p>
            <p class='long-description'>

            </p>
            <div class='languages'>
              <div>Node.js</div>
              <div>Socket.io</div>
              <div>Kik API</div>
              <div>JavaScript</div>
              <div>CSS3</div>
            </div>
          </div>
          <!-- <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" src="img/match-3.png" alt="match three" width='60'>
            </div>
            <div class="media-body">
              <h4 class='media-heading'>Match-3<span class="superscriptText green">Completed</span> Mobile browser based tile matching game</h4>
              <ul>
                <li>Uses socket.io to provide realtime play</li>
                <li>Play inside kik to show off your score to others</li>
                <li>Finished top 3 in the Kik 2014 Hackathon</li>
              </ul>
            </div>
          </div> -->
        </div>

        <div class="listProjectItem" data-project='surveyapp' data-url='/surveyapp'>
          <div class='image-wrapper'>
            <img class='survey-hide-image' src='/img/surveyhide-mobile.png'>
          </div>
          <div class='body'>
            <div class='title'>SurveyHide</div>
            <div class='date'>June 2014</div>
            <p class='short-description'>
              An almost complete survey app. You can register, make teams, invite people into your team and, of course, create surveys!
            </p>
            <p class='long-description'>

            </p>
            <div class='languages'>
              <div>Node.js</div>
              <div>Passport.js</div>
              <div>Mongoose.js</div>
              <div>jQuery</div>
              <div>MongoDB</div>
            </div>
          </div>
        </div>

        <div class="listProjectItem" data-project='projectyawhide' data-url='/projectyawhide'>
          <div class='image-wrapper'>
            <img class='project-sobeys-image' src='/img/project-sobeys-mobile.png'>
          </div>
          <div class='body'>
            <div class='title'>Project Sobeys</div>
            <div class='date'>May 2013</div>
            <p class='short-description'>
              Changes the way you shop at Sobey's. It shows you an organized version of the Sobey's Flyer so you can find the best deals faster then ever before.
            </p>
            <p class='long-description'>

            </p>
            <div class='languages'>
              <div>Node.js</div>
              <div>Socket.io</div>
              <div>Kik API</div>
              <div>JavaScript</div>
              <div>CSS3</div>
            </div>
          </div>
        </div>

        <div class="listProjectItem" data-project='bonified' data-url='/bonified'>
          <div class='image-wrapper'>
            <img class='bonified-image' src='/img/bonified-mobile.png'>
          </div>
          <div class='body'>
            <div class='title'>Bonified</div>
            <div class='date'>Jan 2013</div>
            <p class='short-description'>
              An easy to play memory game where you're asked to keep track of past letters while constantly adding one more. It has a 3-letter highscore to show off how good your memory is!
            </p>
            <p class='long-description'>

            </p>
            <div class='languages'>
              <div>Node.js</div>
              <div>Backbone.js</div>
              <div>jQuery</div>
              <div>Bootstrap</div>
              <div>Mongoose.js</div>
              <div>CSS3</div>
              <div>MongoDB</div>
              <div>PhoneGap</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>



