<div class="listProjects sb-container">
  <div class="sideBar sb-menu">
    <h5>Languages<span></h5>
    <button style='display: none;' class='sidebar-btn'>close</button>
    <ul>
      <li class="">Android SDK</li>
      <li class="">AutoHotKey</li>
      <li class="">C</li>
      <li class="">C++</li>
      <li class="bonified projectyawhide textnow match3">CSS</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">HTML</li>
      <li class="kik">Java</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">JavaScript</li>
      <li class="kik">Python</li>
    </ul>
    <h5>Frameworks</h5>
    <ul>
      <li class="textnow">Angular.js</li>
      <li class="bonified projectyawhide textnow">Backbone.js</li>
      <li class="bonified projectyawhide">Bootstrap</li>
      <li class="bonified projectyawhide textnow surveyapp">jQuery</li>
      <li class="bonified projectyawhide kik surveyapp">MongoDB</li>
      <li class="bonified projectyawhide kik surveyapp">Mongoose.js</li>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">Node.js</li>
      <li class="match3">Redis PubSub</li>
      <li class="textnow">Require.js</li>
      <li class="surveyapp">Passport.js</li>
      <li class="match3">Socket.io</li>
      <li class="kik">Google App Engine</li>
    </ul>
    <h5>Tools</h5>
    <ul>
      <li class="bonified projectyawhide textnow match3 kik surveyapp">Git</li>
      <li class="textnow match3 kik">Mac OS X</li>
      <li class="bonified">PhoneGap</li>
      <li class="">Ubuntu</li>
      <li class="textnow">WebRTC</li>
      <li class="kik">MixPanel</li>
    </ul>
  </div>

  <div class="sb-pusher">

    <div class="sb-content">
      <div class="container sb-content-inner">

        <h2>Internships</h2>

        <div class="listProjectItem" data-project='kik'>
          <img src='img/Kik-logo2.png' width='70'>
          <p>Worked on the Kik Points team</p>
          <ul>
            <li>Made the kik-points-bot production ready</li>
            <li>Created a cron job to auto-kill poor performing kik points offers based on metrics</li>
            <li>Analyised user behaviour to find where to improve retention for new users coming to kik points</li>
            <li>Fixed numerous bugs in the messaging app /messaging</li>
          </ul>

          <a href="https://points.kik.com" target="_blank">Kik Points</a>
        </div>

        <div class="listProjectItem" data-project='textnow'>
          <img src='img/textnow.png' width='50'>
          <p>My contributions to TextNow.com (as a co-op)</p>
          <ul>
            <li>Created /reset, /signup, /signup/facebook, /forgot</li>
            <li>Created the self-serve page /account</li>
            <li>Updated the wireless store by adding in the BYOSD flow /wireless/device/5</li>
            <li>Fixed numerous bugs in the messaging app /messaging</li>
          </ul>

          <a href="https://www.textnow.com" target="_blank">TextNow</a>
        </div>

        <h2>Projects</h2>

        <div class="listProjectItem" data-project='match3'>
          <h3>Match-3<span class="superscriptText green">Completed</span></h3></h3>
          <p>Mobile browser based tile matching game</p>
          <ul>
            <li>Uses socket.io to provide realtime play</li>
            <li>Play inside kik to show off your score to others</li>
            <li>Finished top 3 in the Kik 2014 Hackathon</li>
          </ul>

          <a href="http://match-3.herokuapp.com/" target="_blank">Match-3 (Play on a phone for best experience)</a>
        </div>

        <div class="listProjectItem" data-project='surveyapp'>
          <h3>Survey App<span class="superscriptText red">Stopped development</span></h3>
          <p>An almost complete survey app. You can register, make teams, invite people into your teams by username or email and, of course, create surveys!</p>
          <a href="/surveyapp" target="_blank">Survey App</a>
        </div>

        <div class="listProjectItem" data-project='projectyawhide'>
          <h3>Project Sobeys<span class="superscriptText red">Stopped development</span></h3>
          <p>Changes the way you shop at Sobey's. It shows you an organized version of the Sobey's Flyer so you can find the best deals faster then ever before</p>
          <a href="/projectyawhide" target="_blank">Project Sobeys</a>
        </div>

        <div class="listProjectItem" data-project='bonified'>
          <h3>Bonified<span class="superscriptText green">Completed</span></h3>
          <p>An easy to play memory game where you're asked to keep track of past letters while constantly adding one more</p>
          <a href="/bonified" target="_blank">Bonified</a>
        </div>

      </div>
    </div>

  </div>

</div>



