
<div class="listProjects">
  <div class="container">

    <h2>Interships</h2>

    <div class="listProjectItem" ng-mouseenter="kik = true" ng-mouseleave="kik = false">
      <img src='img/Kik-logo2.png' width='70'>
      <p>Worked on the Kik Points team</p>
      <ul>
        <li>Made the kik-points-bot production ready</li>
        <li>Created a cron job to auto-kill poor performing kik points offers based on metrics</li>
        <li>Analyised user behaviour to find where to improve retention for new users coming to kik points</li>
        <li>Fixed numerous bugs in the messaging app /messaging</li>
      </ul>

      <a ng-href="https://points.kik.com" target="_blank">Kik Points</a>
    </div>

    <div class="listProjectItem" ng-mouseenter="textnow = true" ng-mouseleave="textnow = false">
      <img src='img/textnow.png' width='50'>
      <p>My contributions to TextNow.com (as a co-op)</p>
      <ul>
        <li>Created /reset, /signup, /signup/facebook, /forgot</li>
        <li>Created the self-serve page /account</li>
        <li>Updated the wireless store by adding in the BYOSD flow /wireless/device/5</li>
        <li>Fixed numerous bugs in the messaging app /messaging</li>
      </ul>

      <a ng-href="https://www.textnow.com" target="_blank">TextNow</a>
    </div>

    <h2>Projects</h2>

    <div class="listProjectItem" ng-mouseenter="match3 = true" ng-mouseleave="match3 = false">
      <h3>Match-3<span class="superscriptText green">Completed</span></h3></h3>
      <p>Mobile browser based tile matching game</p>
      <ul>
        <li>Uses socket.io to provide realtime play</li>
        <li>Play inside kik to show off your score to others</li>
        <li>Finished top 3 in the Kik 2014 Hackathon</li>
      </ul>

      <a ng-href="http://match-3.herokuapp.com/" target="_blank">Match-3 (Play on a phone for best experience)</a>
    </div>

    <div class="listProjectItem" ng-mouseenter="projectyawhide = true" ng-mouseleave="projectyawhide = false">
      <h3>Project Sobeys<span class="superscriptText red">Stopped development</span></h3>
      <p>Changes the way you shop at Sobey's. It shows you an organized version of the Sobey's Flyer so you can find the best deals faster then ever before</p>
      <a ng-href="/projectyawhide" target="_blank">Project Sobeys</a>
    </div>

    <div class="listProjectItem" ng-mouseenter="bonified = true" ng-mouseleave="bonified = false">
      <h3>Bonified<span class="superscriptText green">Completed</span></h3>
      <p>An easy to play memory game where you're asked to keep track of past letters while constantly adding one more</p>
      <a ng-href="/bonified" target="_blank">Bonified</a>
    </div>

  </div>
</div>

<div class="sideBar">
  <h5>Languages</h5>
  <ul>
    <li ng-class="{ highlight: tmp }">Android SDK</li>
    <li ng-class="{ highlight: tmp }">AutoHotKey</li>
    <li ng-class="{ highlight: tmp }">C</li>
    <li ng-class="{ highlight: tmp }">C++</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow || match3 }">CSS</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow || match3 || kik }">HTML</li>
    <li ng-class="{ highlight: kik }">Java</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow || match3 || kik }">JavaScript</li>
    <li ng-class="{ highlight: kik }">Python</li>
  </ul>
  <h5>Frameworks</h5>
  <ul>
    <li ng-class="{ highlight: textnow }">Angular.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow }">Backbone.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide }">Bootstrap</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow }">jQuery</li>
    <li ng-class="{ highlight: bonified || projectyawhide || kik }">MongoDB</li>
    <li ng-class="{ highlight: bonified || projectyawhide || kik }">Mongoose.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow || match3 || kik }">Node.js</li>
    <li ng-class="{ highlight: match3 }">Redis PubSub</li>
    <li ng-class="{ highlight: textnow }">Require.js</li>
    <li ng-class="{ highlight: tmp }">Passport.js</li>
    <li ng-class="{ highlight: match3 }">Socket.io</li>
    <li ng-class="{ highlight: kik }">Google App Engine</li>
  </ul>
  <h5>Tools</h5>
  <ul>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow || match3 || kik }">Git</li>
    <li ng-class="{ highlight: textnow || match3 || kik }">Mac OS X</li>
    <li ng-class="{ highlight: bonified }">PhoneGap</li>
    <li ng-class="{ highlight: tmp }">Ubuntu</li>
    <li ng-class="{ highlight: textnow }">WebRTC</li>
    <li ng-class="{ highlight: kik }">MixPanel</li>
  </ul>
</div>



