
<div class="listProjects">
  <div class="container">
    <div class="listProjectItem" ng-mouseenter="bonified = true" ng-mouseleave="bonified = false">
      <h3>Bonified<span class="superscriptText green">Completed</span></h3>
      <p>An easy to play memory game where you're asked to keep track of past letters while constantly adding one more</p>
      <a ng-href="/bonified" target="_blank">Bonified</a>
    </div>


    <div class="listProjectItem" ng-mouseenter="projectyawhide = true" ng-mouseleave="projectyawhide = false">
      <h3>Project Sobeys<span class="superscriptText red">Stopped development</span></h3>
      <p>Changes the way you shop at Sobey's. It shows you an organized version of the Sobey's Flyer so you can find the best deals faster then ever before</p>
      <a ng-href="/projectyawhide" target="_blank">Project Sobeys</a>
    </div>


   <!--  <div class="listProjectItem" ng-mouseenter="chatpush = true" ng-mouseleave="chatpush = false">
      <h3>ChatPush<span class="superscriptText yellow">In development</span></h3>
      <p>A simple websocket messaging application used to teach beginner to intermediate javascript programmers about websockets</p>
      <a ng-href="/chatpush" target="_blank">ChatPush</a>
    </div> -->

    <div class="listProjectItem" ng-mouseenter="textnow = true" ng-mouseleave = "textnow = false">
      <h3>TextNow</h3>
      <p>My contributions to TextNow.com (as a co-op)</p>
      <ul>
        <li>Created /reset, /signup, /signup/facebook, /forgot</li>
        <li>Created the self-serve page /account</li>
        <li>Updated the wireless store by adding in the BYOSD flow /wireless/device/5</li>
        <li>Fixed numerous bugs in the messaging app /messaging</li>
      </ul>

      <a ng-href="https://www.textnow.com" target="_blank">TextNow</a>
    </div>
  </div>
</div>

<div class="sideBar">
  <h4>Languages and frameworks</h4>
  <h5>Web Realm</h5>
  <ul>
    <li ng-class="{ highlight: bonified || projectyawhide || chatpush || textnow }" class="highlight">Node.js using Express.js</li>
    <li ng-class="{ highlight: chatpush }">Node.js with Socket.io</li>
    <li ng-class="{ highlight: chatpush }">Sock.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow }">jQuery</li>
    <li ng-class="{ highlight: chatpush || textnow }">Angular.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow }">Backbone.js</li>
    <li ng-class="{ highlight: textnow }">Marionette.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide || textnow }">Underscore.js</li>
    <li ng-class="{ highlight: bonified || projectyawhide }">Mongoose.js</li>
    <li ng-class="{ highlight: textnow }">Require.js</li>
    <li ng-class="{ highlight: tmp }">Passport.js</li>
    <li ng-class="{ highlight: textnow }">WebRTC</li>
  </ul>
  <h5>Database Realm</h5>
  <ul>
    <li ng-class="{ highlight: bonified || projectyawhide }">MongoDB</li>
    <li ng-class="{ highlight: chatpush }">Redis</li>
  </ul>
  <h5>Object Oriented Realm</h5>
  <ul>
    <li ng-class="{ highlight: tmp }">C++</li>
    <li ng-class="{ highlight: tmp }">C</li>
    <li ng-class="{ highlight: tmp }">Android SDK</li>
    <li ng-class="{ highlight: tmp }">Java</li>
  </ul>
  <h5>Miscellaneous Realm</h5>
  <ul>
    <li ng-class="{ highlight: tmp }">Python</li>
    <li ng-class="{ highlight: projectyawhide }">AutoHotKey</li>
    <li ng-class="{ highlight: tmp }">Scheme</li>
    <li ng-class="{ highlight: bonified }">PhoneGap</li>
  </ul>
</div>



