<a href="/resume">Download my resume</a>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h3>Project Yawhide<span class="superscriptText">Stopped development</span></h3>
    <p>Simplifies the Sobey's Flyer so you can find the best deals faster then ever before</p>
    <a ng-href="/projectyawhide" target="_self">Project Yawhide</a>
  </div>


  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>


  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<h4>List of languages and frameworks I know</h4>
<ul>
  
</ul>




