<html lang="en"><head>
        <meta charset="utf-8">
        <title>CS349 Portal</title>
    
        <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script><style type="text/css"></style>
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="css/bootstrap-theme.css">
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        
        <script src="js/mustache.js" type="text/javascript"></script>
        <script src="js/portal.js" type="text/javascript"></script>
        
        
        <link rel="stylesheet" media="screen" href="css/main.css">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/15a/%7Bcommon,util,geometry,directions%7D.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/15a/%7Bstats%7D.js"></script></head>
    <body><div class="container-fluid">
        
  <div class="row">
    <h1>CS349 Portal</h1>
    <div class="pull-left">Stefan Rokitnicki-Wojcik</div>  <div class="pull-right"><a href="/admin">Admin</a></div>
  </div>
    
  

   
  
  <div class="row">
       
          <div class="col-md-4 cell" id="yawhide_background">
            <div id="yawhide"><div class="navbar">
  <div class="backArrow"></div>
  <h3 class="header">Exam Trip Planner</h3>
</div>
<div class="view"><div class="panel panel-default">
  <div class="panel-body">
    <p>Course: AFM 1</p>
    <p>Date: Sat Nov 29 2014</p>
    <p>Location: L32</p>
    <p>Depart: 6:20pm</p>
    <a href="https://www.google.ca/maps/dir/'43.4884292,-80.5463168'/'43.471793,-80.56345'/@'43.471793,-80.56345'" target="_blank">See On Google Maps</a>
  </div>
</div><div class="panel panel-default">
  <div class="panel-body">
    <p>Course: CS 350</p>
    <p>Date: Thu Dec 04 2014</p>
    <p>Location: PAC</p>
    <p>Depart: 6:51pm</p>
    <a href="https://www.google.ca/maps/dir/'43.4884292,-80.5463168'/'43.47242353,-80.54613339'/@'43.47242353,-80.54613339'" target="_blank">See On Google Maps</a>
  </div>
</div><div class="panel panel-default">
  <div class="panel-body">
    <p>Course: CS 349</p>
    <p>Date: Thu Dec 11 2014</p>
    <p>Location: RCH</p>
    <p>Depart: 8:30am</p>
    <a href="https://www.google.ca/maps/dir/'43.4884292,-80.5463168'/'43.47031155,-80.54084139'/@'43.47031155,-80.54084139'" target="_blank">See On Google Maps</a>
  </div>
</div><div class="panel panel-default">
  <div class="panel-body">
    <p>Course: CS 341</p>
    <p>Date: Wed Dec 17 2014</p>
    <p>Location: PAC</p>
    <p>Depart: 8:01am</p>
    <a href="https://www.google.ca/maps/dir/'43.4884292,-80.5463168'/'43.47242353,-80.54613339'/@'43.47242353,-80.54613339'" target="_blank">See On Google Maps</a>
  </div>
</div></div><script type="text/javascript">
  var directionsApi;
  function initialize() {
    directionsApi = new google.maps.DirectionsService();
    
  }

  function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA-i_vsXh70AM-djMpuSy8_1DVmtQiygP4&v=3.exp&callback=initialize';
    document.body.appendChild(script);
  }
</script><div class="FABContainer">
  <button class="FAB fabRed">
    <img class="FABIcon" src="widgets/yawhide/plus.png">
    <img class="DoneIcon" src="widgets/yawhide/check.png">
  </button>
  <label class="FABTextContainer">
    <div class="FABText">Create</div>
  </label>
</div></div>
          </div>
       
          <div class="col-md-4 cell" id="storeJson_background">
            <div id="storeJson"><div>
    <label>Data: <input type="text" id="storeJson_input" size="20"></label>
    <button id="storeJson_submit">Submit</button>
    <button id="storeJson_clear">Clear</button>
</div>
<div id="storeJson_results">
    <p>User Data: <span id="storeJson_userdata">[]</span></p>
    <p>App Data: <span id="storeJson_appdata">154</span></p>
</div></div>
          </div>
       
            
    </div>
    
    
    <link rel="stylesheet" media="screen" href="widgets/yawhide/yawhide.css">
    <script src="widgets/yawhide/yawhide.js" type="text/javascript"></script>
    
    <link rel="stylesheet" media="screen" href="widgets/storeJson/storeJson.css">
    <script src="widgets/storeJson/storeJson.js" type="text/javascript"></script>
    
    <script>
    var server = "cs349.student.cs.uwaterloo.ca:9410"
    
    $(document).ready(function() {
      
        //yawhide("sgrokitn", "#yawhide")
      
    });
    </script>
  


    </div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-i_vsXh70AM-djMpuSy8_1DVmtQiygP4&amp;v=3.exp&amp;callback=initialize"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/18/15a/main.js"></script></body></html>