body {
  font-family: 'Raleway', sans-serif;
}

.section{
  padding: 10px;
}

.section h2{
  display: inline-block;
  vertical-align: top;
}

.countdown{
  display: inline-block;
  padding: 10px;
}

.time{
  display: inline-block;
}
