header.navbar.navbar-default.navbar-fixed-top(role="banner")
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/surveyapp/") SurveyHide

        nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")

            ul.nav.navbar-nav.navbar-right
                if (typeof(user) == 'undefined')
                    li
                        a(href="/surveyapp/register") Register
                else
                    li.dropdown
                        a.dropdown-toggle(href="/surveyapp#", data-toggle="dropdown") Create
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/surveyapp/new-survey") new survey
                            li
                                a(href="/surveyapp/teams") new team
                    li.dropdown
                        a.dropdown-toggle(href="/surveyapp#", data-toggle="dropdown") Edit
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/surveyapp/my-surveys") surveys
                            li
                                a(href="/surveyapp/teams") teams
                    li.dropdown
                        a.dropdown-toggle(href="/surveyapp#", data-toggle="dropdown") Settings
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/surveyapp/profile") profile
                            li
                                a(href="/surveyapp/change-password") password
                            li
                                a(href="/surveyapp/teams") teams
                            li
                                a(href="/surveyapp/my-surveys") surveys
                            li
                                a(href="/surveyapp/logout") sign out

                    li
                        form.navbar-form.form-validetta(role='search', action='/surveyapp/search', method='post')
                            input#srch-term.form-control.input-sm(type="search", result="5", name="queryName", placeholder="Search", data-validetta='required')
