block scripts
	script(src='/surveyapp/js/jquery.min.1.10.2.js')
	script(src='/surveyapp/js/hammer.js')
	script(src='/surveyapp/js/jpanelmenu.js')
	script(src='/surveyapp/js/bootstrap.js')
	script(src='/surveyapp/js/functions.js')
	script(src='/surveyapp/js/darren.js')
	script(src='/surveyapp/js/stefan.js')
	script(src='/surveyapp/js/registration.js')
	script(src='/surveyapp/js/validetta.js')

