<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,100, 400, 800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Maplestory2 Boss Timers</h1>
  <div class='section section--griffy'>
    <h2>Griffy</h2>
    <img src='griffy.png'>
    <div class='timers'>
      <span class='countdown countdown--griffy'></span>
      <span class='time time--griffy'></span>
    </div>
  </div>
  <div class='section section--sally'>
    <h2>Cargo</h2>
    <img src='cargo.png'>
    <div class='timers'>
      <span class='countdown countdown--sally'></span>
      <span class='time time--sally'></span>
    </div>
  </div>
  <div class='section section--oneeye'>
    <h2>One Eye</h2>
    <img src='oneeye.png'>
    <div class='timers'>
      <span class='countdown countdown--oneeye'></span>
      <span class='time time--oneeye'></span>
    </div>
  </div>
  <div class='section section--robot'>
    <h2>Mark 52 Alpha</h2>
    <img src='robot.png'>
    <div class='timers'>
      <span class='countdown countdown--robot'></span>
      <span class='time time--robot'></span>
    </div>
  </div>
  <div class='contact'>
    <p>Made by Yaw Hide(YarHide in ms2), email me at mc_scrad@hotmail.com if you find any issues. Thanks!</p>
  </div>
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js'></script>
<script src='timezone.js'></script>
<script src='lib.js'></script>
<script src='main.js'></script>

</body>
</html>
