body div#yawhide_background{
  padding: 0;
}

body div.navbar{
  margin-bottom: 10px;
}

#yawhide{
  position: absolute;
  height: 100%;
  width: 100%;
}

.DoneIcon{
  opacity: 0;
}

.fabGreen{
  background-color: #0f9d58;
}

.fabRed{
  background-color: #db4437;
}

.FABContainer{
  font-weight: bold;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  display: -webkit-flex;
  display: flex;
  bottom: 10px;
  position: absolute;
  right: 20px;
  white-space: nowrap;
  z-index: 21;
  will-change: top,left;
  transition: right 1s ease;
  transition: transform 1s ease;
}

.FAB{
  height: 56px;
  position: relative;
  width: 56px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: relative;
  -webkit-user-drag: none;
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
  transition: transform 150ms cubic-bezier(.4,0,1,1);
  opacity: 1;
}

.FAB:active{
  opacity: 0.7;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 10px 8px rgba(0,0,0,.28);
}

.FABIcon{
  left: 0;
  margin-left: 16px;
  margin-top: 16px;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
  background-size: 24px;
  display: block;
  height: 24px;
  width: 24px;
  -webkit-user-drag: none;
}

.FABTextContainer{
  line-height: 56px;
  display: inline-block;
  margin-right: 8px;
  opacity: 0;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 150ms cubic-bezier(.4,0,1,1);
  transition: opacity 150ms cubic-bezier(.4,0,1,1);
}

.FABText{
  background: rgba(70,70,70,.9);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #ececec;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  max-width: 200px;
  overflow: hidden;
  padding: 6px 8px;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.view{
  overflow: auto;
  margin: 0 15px;
}

.backArrow{
  float: left;
  background-image: url(back.png);
  background-size: 24px;
  cursor: pointer;
  

  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  opacity: 0.6;
  padding: 12px 12px;
  width: 24px;
  -webkit-user-drag: none;

  background-size: 24px 24px;
  height: 24px;
  width: 24px;

  background-color: transparent;
  border: none;
  box-sizing: content-box;
  position: relative;
  -webkit-user-drag: none;
  opacity: 0;
}

.backArrow:active{

}

.header{
  margin: 11px 0px;
}

#yawhide .navbar{
  background-color: #4285f4;
  color: white;
  box-shadow: 0 0px 3px rgba(0,0,0,1);
}