body.body{
  max-width: 1280px;
  margin: 0 auto;
  font-family: Raleway;
}

.green{
  color: green;
}

.red{
  color: red;
}

.yellow{
  color: rgb(158, 158, 18);
}

.listProjectItem{
  background-color: #F0F0F0;;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.internal{
  font-size: 16px;
  text-align: center;
}

.borderLine{
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.listProjectItem .image-wrapper {

}

.listProjectItem .image-wrapper .match-3-image {
  background-image: url(/img/match-3.png);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: -212px;
  background-position-y: -18px;
}

.listProjectItem .body {
  padding: 10px;
}

.listProjectItem .body .title {
  font-size: 36px;
}
