[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.body{
  max-width: 1280px;
  margin: 0 auto;
}

.listProjectItem h3,.h3{
  margin: 6px 0;
}

.listProjects .container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: initial;
}

.superscriptText{
  font-size: 11px;
  vertical-align: super;
}

.green{
  color: green;
}

.red{
  color: red;
}

.yellow{
  color: rgb(158, 158, 18);
}

.sideBar ul{
  padding-left: 8px;
}

.sideBar ul li{
  display: inline-block;
  background: white;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid lightblue;
  font-size: 13px;
}
.sideBar ul li:hover{
  opacity: 0.8;
  background-color: lightyellow;
  cursor: default;
}

.sideBar ul li.highlight{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  -moz-box-shadow:    1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  box-shadow:         1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  background-color: lightyellow;
}

.sideBar{
  position: absolute;
  width: 25%;
  margin-left: 15px;
  border-right: 1px solid #EEE;
  max-width: 300px;
}

.listProjects{
  width: 75%;
  float:right;
}

.listProjectItem{
  background-color: #f8f9fa;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
} 

.internal{
  font-size: 16px;
  text-align: center;
}

.borderLine{
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.sideBar h5{
  padding-left: 5px;
  font-weight: 700;
}