[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.body{
  
}

.listProjectItem h3,.h3{
  margin: 6px 0;
}

.listProjects .container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: initial;
}

.superscriptText{
  font-size: 11px;
  vertical-align: super;
}

.green{
  color: green;
}

.red{
  color: red;
}

.yellow{
  color: yellow;
}

ul li{
  display: inline-block;
  background: white;
  padding: 2px;
  margin: 5px;
  border-radius: 4px;
}
ul li:hover{
  opacity: 0.8;
  background-color: lightyellow;
  cursor: default;
}

ul li.highlight{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  -moz-box-shadow:    1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  box-shadow:         1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  background-color: lightyellow;
}

.sideBar{
  position: absolute;
  width: 25%;
}

.listProjects{
  width: 75%;
  float:right;
}

.listProjectItem{
  border: 1px solid #bec8d2;
  background-color: #f8f9fa;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
} 