.home-signup form {
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.home-signup-account form {
  width: 75%;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.portalForm {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  border-radius: 8px;
  margin-top: 50px;
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 69px;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

.smallerSpinner .spinner {
  width: 24px;
  height: 24px;
  margin: 23px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}


@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.form .microphoneSetting {
  position: relative;
}

.form {

  width: 50%;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.navbar-static-top {
  background: #2c79d6;
}

.navbar-static-top .navbar-brand {
  color: #fff;
}

.navbar-static-top .navbar-nav > li > a {
  color: #fff;
}

.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
  background-color: #134070;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #134070;
}

/*footer{
  border-top: 1px solid #e5e5e5;
}*/

.accountBtn {
  background-color: #4897F6;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  width: 135px;
  height: 38px;
}

.accountBtn:hover{
  color: white;
  opacity: 0.8;
}

.planBtn {
  background-color: #fff;
  border-radius: 4px;
  border-color: #999;
  font-size: 12px;
  font-weight: 500;
  color: #2c79d6;
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 50%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 50%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 50%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 50%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

.cvvText, h5 {
  font-size: 12px;
}

.cvvTextSmall {
  font-size: 11px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3{
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.marginBottom40{
  margin-bottom: 40px;
}

.change-plan-view {
  
  font-size: 13px;
  color: #3c4c59;
}

.columnView .current {
  background: #dbefff;
  border: 0;
  text-align: center;
  border-radius: 6px;
  padding-bottom: 20px;
}

.plans .columnView {
  width: 150px;
  float: left;
  margin: 10px 5px 30px;
}

.plans .columnView .downgradeText{
  position: absolute;
}

.columnView .plan {
  border: 1px solid #b4bcc4;
  background: #fff;
  text-align: center;
  border-radius: 6px;
  padding-bottom: 20px;
  background-clip: content-box;
}

.columnView .current h3 {
  background: #afcfe8;
  margin: 0;
  height: 38px;
  line-height: 38px;
  color: rgba(0,0,0,.8);
  margin-bottom: 20px;
  background-clip: content-box;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.columnView .plan h3 {
  margin: 0;
  height: 38px;
  line-height: 38px;
  background: #dee4e8;
  color: rgba(0,0,0,.8);
  margin-bottom: 20px;
  background-clip: content-box;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

b, strong {
  font-weight: 700;
}

.change-plan-view .price {
  margin: 12px 0px;
}

.currentPlanMargin {
  margin-bottom: 4px;
}


.change-plan-view label {
  font-weight: normal;
}

.dashedLine {
  border-top: 1px silver dashed;
}

.verticalLine {
    border-left: thin solid #C0C0C0;
}


.breadcrumbMod {
  background-color: #fff;
}

.greyColourFont {
  color: #999;
}

.blueText {
  color: #2c79d6;
}

input[type="radio"] { 
  cursor: pointer; cursor: hand;
}

.disabledCursor {
  cursor: none;
}

.dropDownAccount{
  width: 400px;
  padding-left: 25px;
}

.dropDownAccount .progress, .leftSquare{
  width: 200px;
  display: table;
  position: relative;
  float:left;

}
.dropDownAccount {
  height: 161px;
}

.dropDownAccount .cvvText{
  padding-top: 10px
}

.dropDownAccount .cvvText li .blueText { 
  float: right;
  cursor: default;
}

.customListGroup {
  overflow: hidden;
  padding-left: 40px;
}

.customListGroup ul li {
  border-bottom: 1px solid #ddd
}

.customListGroup ul li a{
  padding: 18px 15px;
  display: block;
  color: black;
  font-size: 12px;
}

.progress-addon {
  margin-bottom: 10px;
  margin-top: 4px;
  height: 14px;
  border-radius: 0px;
}

.progress {
  border-radius: 0px;
}

.dropdown-menu-addon{
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 1px;
}

.lowerPadding{
  height: 5px;
  background-color: #E9E9E9;
}

.planSmall {
  display:none;
}

.page-header {
  position: relative;
  padding: 10px 0;
  margin: 0 0 15px 0;
  border-bottom: 2px solid #DCDDDE;
}

.h2, h2 {
  margin-top: 0;
  font-weight: 300;
}

.account-summary {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #DCDDDE;
  padding-left: 20px;
}

.account-container {

}

.account-links .list-group-item {
  font-size: 13px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.account-links .heading {
  font-weight: 600;
  color: #666;
  border-color: transparent;
}

.account-content h4 {
  border-bottom: 1px solid #DCDDDE;
  line-height: 30px;
  margin-bottom: 20px;
}

.h4, h4 {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDDDE;
}

.modal-header h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  border-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.modal-footer {
  margin-top: 0px; 
  padding: 10px 10px 10px;
}

.modal-body {
  text-align: left;
  padding-bottom: 10px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  z-index: 2;
  color: black;
  background-color: #DADADA;
  border-color: transparent;
}

.navbar-nav li .active{
  background-color: #134070;
}

.marginTop33 {
  margin-top: 33px;
}

.icon{
  float: left;
  padding-right: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.lowerOpacity {
  opacity: 0.6;
}

.input-field label {
  padding-left: 10px;
}

.modal.in .modal-dialog {
  transform: none;
}

.modal.fade .modal-dialog {
  transform: none;
  transition: none;
}

.container .bg_dark_blue{
  line-height: 1.8em;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.bg_dark_blue h2, .bg_dark_blue .h2{
  font-size: 24px;
  margin: 30px 0;
}

.alpha {
  top: -.5em;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 3px;
  color: #fb2053;
}

a.disableAnchor {
  cursor: default;
  opacity: 0.4;
}

a.disableAnchor:hover {
  cursor: default;
  opacity: 0.4;
  z-index: 2;
  background-color: #fff;
}

.pointerCursor{
  cursor: pointer;
}

.addMarginTop {
  margin-top: 30px
}

.horizontalGreyBorderLine{
  padding-bottom: 30px;
  border-bottom: 1px solid #DCDDDE;
}

.bigMarginTop{
  margin-top: 250px;
}

.copyright {
  padding-top: 15px;
  border-top: 1px solid #DCDDDE;
}

/* line 645, landing1.scss */
#download-modal {
  width: 880px;
  padding: 30px;
  height: 330px;
  position: absolute;
  top: 99px;
  left: 50%;
  margin-left: -470px;
  background: white;
}


/* line 674, landing1.scss */
#download-modal ul {
  width: 450px;
  float: left;
}

/* line 678, landing1.scss */
#download-modal ul li {
  float: left;
}

/* line 681, landing1.scss */
#download-modal ul li a {
  display: block;
  width: 110px;
  height: 20px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  background: url(/images/landing/device_ipod-iphone.png) no-repeat;
  padding-top: 125px;
  color: #4a7af1;
}

/* line 695, landing1.scss */
#download-modal ul li a.ipad {
  background: url(/images/landing/device_ipad.png) no-repeat;
}

/* line 698, landing1.scss */
#download-modal ul li a.android {
  background: url(/images/landing/device_android.png) no-repeat;
}

/* line 701, landing1.scss */
#download-modal ul li a.kindle {
  background: url(/images/landing/device_kindle.png) no-repeat;
}

/* line 704, landing1.scss */
#download-modal ul li a.nook {
  background: url(/images/landing/device_nook.png) no-repeat;
}

/* line 707, landing1.scss */
#download-modal ul li a.windows {
  background: url(/images/landing/device_windowsphone.png) no-repeat;
}

/* line 710, landing1.scss */
#download-modal ul li a.windows-desktop {
  background: url(/images/landing/device_windows8.png) no-repeat;
}

/* line 714, landing1.scss */
#download-modal ul li a:hover {
  text-decoration: underline;
}

/* line 718, landing1.scss */
#download-modal aside {
  width: 350px;
  float: left;
  padding: 0 40px;
}

/* line 723, landing1.scss */
#download-modal aside h2 {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 0;
}

/* line 731, landing1.scss */
#download-modal aside p {
  font-size: 13px;
  line-height: 20px;
  color: #5E6974;
}

/* line 736, landing1.scss */
#download-modal aside a {
  display: block;
  width: 300px;
  height: 50px;
  color: white;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #08ca98;
  margin-top: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 750, landing1.scss */
#download-modal aside a:hover {
  background-color: #11daa6;
}

/* line 754, landing1.scss */
#download-modal .close-window {
  display: block;
  width: 0px;
  height: 0px;
  padding: 30px 30px 0 0;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(/images/landing/btn_close.png) no-repeat center center;
}

.loggedIn{
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  padding-right: 45px;
  padding-left: 45px;
  width: 260px;
}

.loggedIn a {
  font-size: 12px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 25px 10px 10px;
  margin-top: 20px;
  
  background: url(/images/landing/button_arrow.png) no-repeat center right;
  background-position: 145px 14px;
}

.error-general-button {
  background-color: #4897F6;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  width: initial;
  height: 100%;
}

/* this is for the footer.css */

.container{
  height: 800px;
}

footer.container{
  height: 10px;
}

