extends layout

block content
    form.form-profile.form-horizontal.update-profile(role='form', action='/surveyhide/change-password', method='post')
        h1 Password
        p Change your password or recover your current one.
        hr
        .form-group
            label.col-sm-3.control-label Current Password
            .col-sm-9
                input.form-control(id='currentPassword' type="password",name="currentPassword", placeholder="Current Password", value='', data-validetta='required')
                p
                    a(href="/surveyhide/forgot") Forgot password?
        .form-group
            label.col-sm-3.control-label New Password
            .col-sm-9
                input.form-control(id='password' type="password",name="password", placeholder="Password", data-validetta='required,minLength[8],customReg[strength]', value='')
        .form-group
            label.col-sm-3.control-label Verify Password
            .col-sm-9
                input.form-control(id='password2' type="password", name="password2", placeholder="Confirm Password" data-validetta='equal[password]', value='')
        .form-group
            .col-sm-offset-3.col-sm-9
                button.btn.btn-default(type='submit', value="Save") Save
