block scripts
	script(src='/surveyhide/js/jquery.min.1.10.2.js')
	script(src='/surveyhide/js/hammer.js')
	script(src='/surveyhide/js/jpanelmenu.js')
	script(src='/surveyhide/js/bootstrap.js')
	script(src='/surveyhide/js/functions.js')
	script(src='/surveyhide/js/darren.js')
	script(src='/surveyhide/js/stefan.js')
	script(src='/surveyhide/js/registration.js')
	script(src='/surveyhide/js/validetta.js')

